/* reset iniziale */
*{
  margin: 0;
  padding: 0;
}


/* stili particolari */
header{background-color: rgb(0, 136, 255); }
#boxhead {
  width: 1000px;
  height: 80px;
  background-image: url(../img/pattern.png);
  background-size: 150px 80px;
  background-repeat: repeat;
}
#logo { 
  width: 200px;
  height: 40px;
  padding-top: 40px;

}
h1{
  padding-top: 20px;
}
#divgrigio { 
  color: grey;
}

#boolblu {
  color: blue;
}

#paragrafino {
  font-size: small;
}

.evidenziatore {
  background-color: yellow;
}
.container{
  padding-left: 22px;
}
ul {
  padding-left: 20px;
  padding-top: 30px;
}
#paragrafone {
  padding-top: 20px;
}
table {
  padding-top: 30px;
  width: 1600px;
  table-layout: fixed;
}
th{
  color: aliceblue;
}
.bluetab {
  background-color: blue;
}
.azzurtab{background-color: aqua;}

#titolino {
  color: grey;
padding-top: 20px;
}

#monitor{
 color: aliceblue;
  padding-top: 40px;
  padding-left: 40px;
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
}

#grafico {
  color: aliceblue;
   padding-top: 40px;
   padding-left: 40px;
   background-image: url(../img/graph.jpg);
   background-repeat: no-repeat;
  }